@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
.container{
    width: 1350px;
}

.underline {
    border-bottom: .2px solid #000000;
    margin: 0 1.8rem 0 .5rem;
} 

/* _________________________________________                                                        HEADER_____________________________________________________________________________________________________________________________________________________________________________________________ */

header{
    height: 11vh;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 5rem;
    z-index: 100;
    position: fixed;
}
.menu{
    display: none;
}
.leftnav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.leftnav .parent-dropdown{
   align-items: center;
   padding: 0 .5rem;
   position: relative;
}

.leftnav .header-btn{
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    padding: 0 .5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.rightnav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.rightnav ul li{
    align-items: center;
    padding: 0 .5rem;
 }

.rightnav .header-btn{
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    padding: 0 .5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
#trial_btn{
    border: 1px;
    background: #008060;
    padding: 1rem 1.8rem;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1rem;
}

#trial_btn:hover{
    background-color: #2f554b;
    box-shadow: 0px 8px 16px #00000033;
}

.dropdown-content{
    display: none;
    position: absolute;
    
}

.dropdown-anchor{
    text-decoration: none;
}

.dropdown-unordered{
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    width: 250px;
    overflow: auto;
    z-index: 1;
    box-shadow: 0px 8px 16px #00000033;
    margin-top: 1rem;
    padding-bottom: .3rem;
    border-radius: 5px;
}

.dropdown-list{
    width: 100%;
    text-align: center;
    align-items: center;
    padding-left: 1rem;
   
}

.dropdown-btn{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: .3rem;
    padding: .5rem;
    font-size: .9rem;
    font-weight:600;
    border: none;
    background: transparent;
    cursor: pointer;
}

.dropdown-list:hover{
    border-left: 2px solid #008000;
    background-color: #eeeeee;
    
}

/* _______________________________________________________________________________________________HERO-PAGE _____________________________________________________________________________ */
.hero-page{
    display: flex;
    height: 100vh;
    width: 100%;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 5rem;
    height: 85vh;
}

.hero-left h4{
    width: 87%;
    font-size: 2.6rem;
    color: #004c3f;
    line-height: 3.6rem;
}

.hero-form{
    padding-top: 1rem;
}

.hero-input{
    padding: 1rem;
    width: 60%;
    margin-right: .5rem;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    border: 1px solid;
}

.hero-input:focus-within{
    outline: 1px solid #66e7c7;;
}

.hero-para{
    padding-top: 2rem;
    font-size: .8rem;
    width: 500px;
    line-height: 1rem;
    font-weight: 300;
}

.hero-btn{
    border: 1px;
    background: #008060;
    padding: 1.2rem 2rem;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1rem;
}

.hero-btn:hover{
    background-color: #2f554b;
    box-shadow: 0px 8px 16px #00000033;
}
.hero-right{
    width: 100%
}
.text-img{
    height: 100vh;
}

.hero-img   {
    width: 100%;
}
.explore-section{
    background-color:#004c3f;
    height: 210vh;
    display: flex;
    flex-direction: column;   
}

.explore-text{
    padding:5rem 5rem;
    padding-bottom: 1rem;
    width: 100%;
    color: white;
  
}
.explore-text h3{
    font-size: 2.5rem;
    font-weight: 400;
}
.explore-text .create{
    font-size: 1rem;
    margin-top: .6rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
.explore{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    
}

.explore-img-cont{
    display: flex;
    /* margin: 1rem 2rem; */
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3rem;
    color: #ffffff;
    width: 100%;
}
.explore-img:hover{
    transform: translateY(0%);
   
}
.explore-img{
     height: 100%;
     transform: translateY(10%);
     transition: all 0.3s ease-in-out;
}

.explore-img img{
    height: 25rem;
    width: 220px;
}

.note{
    padding: 10rem 5rem 4rem;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
}

.info-cont{
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
.info-item{
    width: 15rem;
    height: 10rem;
}
.icon{
    font-size: 2.5rem;
    font-weight: 200;
}
.topic{
    padding: 1rem 0;
    font-weight: 700;
}
.info-item p{
 line-height: 1.4rem;
}

.market-section{
    display: flex;
    flex-direction: column;
}

.marketchild1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    text-align: center;
}

.marketchild1 h3{
    font-weight: 300;
    font-size: 2.5rem;
    padding: .5rem 0;
}
.marketchild1 p{
    width: 550px;
    line-height: 1.8rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.market-video-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.market-video{
    width: 80%;
}

.market-video img{
    width: 100%;
}

.market-writeup{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding-left: 1rem;
}

.market-writeup h3{
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 0;
}
.market-writeup p{
    font-size: 1rem;
    line-height: 1.5rem;
    width: 70%;
}
.market-writeup h5{
    color: #008000;
    padding: 1rem 0;
    font-size: 1.2rem;   
}

.market-yourbiz{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% ;
}

.market-biz-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 8rem;
}

.market-biz-text h4{
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 0;
}

.market-biz-text p{
    font-size: 1rem;
    line-height: 1.5rem;
    width: 90%;
}
.market-biz-text h5{
    color: #008000;
    padding: 1rem 0;
    font-size: 1.2rem; 
}
.market-biz-pic{
    width: 100%;
}
.market-biz-pic img{
    width: 90%;
}

.market-statistic-cont{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.market-stat{
    width: 80%;
    padding: 0 0 0 5rem;
}

.market-statistic-cont h4{
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 0;
}

.market-statistic-cont p{
    font-size: 1rem;
    line-height: 1.5rem;
    width: 70%;
}

.market-statistic-cont h5{
    color: #008000;
    padding: 1rem 0;
    font-size: 1.2rem; 
}
.learn-more{
    height: 45vh;
    padding: 6rem 0 0 7rem;
}

.learn-more h4{
    padding: 1rem 0;
    font-size: 2rem;
    line-height: 2rem;
    width: 570px;
    font-weight: 400;
}

.learn-more p{
    font-size: 1.3rem;
    width: 580px;
    line-height: 2rem;
}

.learn-more p span{
    font-weight: bold;
}

.learn-more h5{
    color: #008000;
    padding: 1rem 0;
    font-size: 1.2rem; 
}

.earth{
    background-image: url(./img/map_background.png);
    height: 110vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
}

.background-image{
    width: 100%;
    
}
.background-image img{
    width: 60%;
}
.advert{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding-right: 5rem;
    padding-top: 3rem;
}
.advert .img-cont{
    width: 95%;
    padding-left: 6rem;
}
.advert .img-cont img{
    width: 100%;
    height: 100vh;
}
.green-bg{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    text-align: center;
    background-color: #002e25;
    height: 100vh;
}
.green-bg .cee-text {
   width: 385px;
   padding: 2rem 0;
   font-size: 2rem;
   line-height: 3rem;
}

.logo img{
    padding: .6rem;
    background: transparent;
    outline-style: none;
}

.cee{
    font-size: 1.3rem;
    font-weight: 400;
}
.cee-btn{
    padding: .7rem 2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    background: transparent;
    color: #ffffff;
    font-weight: 500;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.cee-btn:hover{
    background-color:#ffffff;
    color:  #002e25;
}

.inc{
    font-size: 2rem;
}
.logos{
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3rem;
}

.logos div img{
    mix-blend-mode: multiply;
    filter: contrast(2);
}

.customer-support{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.customer-support-text{
    padding-left: 2rem;
    padding-top: 2rem;
    background-color: #fbf7ed;
}
.hgt{
    line-height: 1.4rem;
 
}
.customer-support-text h4{
    width: 400px;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.customer-support-cont{
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 2rem;
    row-gap: 4rem;
}
.customer-support-cont div{
   padding: 1rem 0;
    text-align: left;
    
}
.customer-support-cont h5 {
    font-size: 1.2rem;

}
.green{
    font-size: 1.2rem;
    color:#008060
}
.customer-support-img img{
    width: 100%;
    height: 100vh;
}
.free-trail-section{
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
   position: relative;
   background-color: #ffffff
}
.free-trail-section .last-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-section h5{
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 1rem;
}

.last-section p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 1.5rem;
    width: 700px;
   
}

.last-btn{
    border: 1px;
    background: #008060;
    padding: 1.2rem 2rem;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1rem;
}

.last-btn:hover{
    background-color: #2f554b;
}

.to-top{
    position: absolute;
    bottom: 3rem;
    right: 6rem;
    font-size: 1.2rem;
}
.to-top a{
    color: #004c3f;
    text-decoration: none;
    font-weight: 600;
}

/* _______________________________________________________________________________________________Footer _____________________________________________________________________________ */

footer{
    display: flex;
    flex-direction: column;
    background-color:#002e25;
    height: 90vh;
   
}

.footer-nav {
   background-color: transparent;
   margin-bottom: 1rem;
   padding-left: 5rem;
}
.footer-nav ul{
    display: flex;
    list-style: none;
    border-bottom: 1px solid  #484040;
}
.footer-nav li{
    display: flex;
    padding: 1.3rem 1rem;
}
.footer-nav li:hover{
    border-bottom: 1px solid #d8caca; 
}
.footer-nav a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
}

.other-links{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-left: 5rem;
}
.other-links h5{
    color: #ffffff;
    margin-bottom: 1rem;
    font-weight: 600;
}
.other-links div ul{
    list-style: none;
    font-size: .9rem;
    padding-bottom: 1rem;
}
.other-links div ul li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    line-height: 2rem;
}
.other-links div ul li a:hover{
    color: #ffffff;
    font-weight: 400;
}

.online-ul{
    margin-top: 2rem;
}
.footer-socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-top: 1px solid  #484040;
}

.socials{
   padding-left: 5rem;
    padding-top: 1rem;
}


.socials i{
    padding-right: .7rem;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
}

.location{
    display: flex;
    padding-right: 5rem;
    padding-top: 1rem;
}
.location a{
    padding-right: .7rem;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
}
/* --------------------------------MEDIA QUERY--------------------------------------------------------------------------- */
@media (max-width: 1350px) {

    /* body{
        background-color: green;
    } */
    .container {
        width: 1250px;
    }
    .header{
        width: 90%;
    }
    
    .hero-page{
        width: 100%;
        height: 100vh;
    }
    
    .hero-left h4{
        width: 80%;
        font-size: 2rem;
    }
    
    .hero-para{
        width: 450px;
    }
    
    .hero-right{
        width: 100%;
    }
     .hero-left h4{
        font-size: 2.3rem;
     }
    .hero-img{
        width: 100%;
        height: 100%;
    }

     .explore-img-cont{
        width: 90%;
        margin-left: 6rem;
     }
     .explore-text {
        padding-left: 5rem;
     }
     .explore-img{
        padding-right: 1rem;
     }
    
     .market-video{
        width: 70%;
        padding-left: 5rem;
     }

     .market-video img{
        width: 75%;
     }
     .market-writeup{
        padding-left: 0;
     }
     .market-yourbiz{
        width: 90%;
        padding: 2rem 0;
     }
     .market-biz-pic img{
        width: 75%;
     }

     .market-stat img{
        width: 75%;
     }

}

@media (max-width: 1260px) {
    /* body{
        background-color: red;
    } */
    .container{
        width: 1120px;
    }
    .hero-input{
        width: 100%;
        }
    .hero-btn{
        width: 100%;
    }
    .hero-left h4 {
        width: 70%;
        font-size: 2.4rem;
        padding-top: 5rem;
        line-height: 3rem;
     }

    .explore-img img{
        width: 180px;
    }
    
}
@media (max-width: 1170px) {
    .container{
        width: 1000px;
    }

}